/*!
 * Project_Name: Themezy Ecommerce Video Game website template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

audio






:not



 



(
[
controls
]



 



)
{
display






:



 



none






;
height






:



 



0;
}
[hidden], template {
	display: none;
}

html {
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg






:not



 



(
:root



 



)
{
overflow






:



 



hidden






;
}
figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Global Styles
 */
body {
	background-color: #e9e9e9;
	color: #898e90;
	font-family: "Roboto", "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0 0 20px;
}

hr {
	border: none;
	border-bottom: 1px solid #777;
}

ul, ol {
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: #45b77d;
}

address {
	font-style: normal;
}

p {
	margin-top: 0;
}

form input, form textarea, form select {
	outline: none;
	border: 1px solid #424242;
	background-color: transparent;
	padding: 10px;
	border-radius: 3px;
}

form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form textarea {
	resize: vertical;
}

/*
 * Reusable Components Style
 */
.button, form input[type="submit"], form button, form input[type="reset"]
	{
	border: none;
	background: #45b77d;
	color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.button.muted, form input.muted[type="submit"], form button.muted, form input.muted[type="reset"]
	{
	background-color: #e5e5e5;
	color: #898e90;
}

.button.muted:hover, form input.muted[type="submit"]:hover, form button.muted:hover,
	form input.muted[type="reset"]:hover, .button.muted:focus, form input.muted[type="submit"]:focus,
	form button.muted:focus, form input.muted[type="reset"]:focus {
	background-color: #cccccc;
}

.button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover,
	.button:focus, form input[type="submit"]:focus, form button:focus, form input[type="reset"]:focus
	{
	background-color: #69c697;
}

.no-bullet {
	list-style-type: none;
}

.no-bullet li {
	margin-bottom: 5px;
}

.social-links a {
	display: inline-block;
}

.social-links strong {
	margin-right: 20px;
}

.social-links.square a {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background: #a5a5a5;
	color: #2b2b2b;
	text-align: center;
	font-size: 18px;
	font-size: 1.2857142857em;
	line-height: 1.8;
}

.social-links.square .facebook, .social-links.square .twitter,
	.social-links.square .google-plus, .social-links.square .pinterest {
	color: white;
}

.social-links.square .facebook {
	background-color: #305891;
}

.social-links.square .twitter {
	background-color: #2ca8d2;
}

.social-links.square .google-plus {
	background-color: #d95232;
}

.social-links.square .pinterest {
	background-color: #cb2028;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	display: none;
}

.popup {
	position: absolute;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	width: 60%;
	background: white;
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: 20% auto;
	padding: 30px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
}

@media screen and (max-width: 640px) {
	.popup {
		width: 80%;
	}
}

@media screen and (max-width: 480px) {
	.popup {
		width: 90%;
	}
}

.popup.active {
	visibility: visible;
	opacity: 1;
	z-index: 999999;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.popup .close {
	width: 32px;
	height: 32px;
	background-color: #ddd;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
	color: #898e90;
	font-size: 18px;
	font-size: 1.2857142857em;
	text-align: center;
	line-height: 1.6;
}

.popup .section-title {
	font-size: 30px;
	font-size: 2.1428571429em;
	font-weight: 300;
}

.popup .col-md-6:first-child {
	border-right: 1px solid #e9e9e9;
}

.popup input {
	margin-bottom: 10px;
	border: 2px solid #ddd;
	display: block;
	width: 100%;
}

.popup select {
	margin-bottom: 10px;
	border: 2px solid #ddd;
	display: block;
	width: 100%;
}

.popup input[type="submit"], input[type="reset"] {
	width: auto;
	float: right;
	margin-left: 10px;
}

.popup .inlineDiv {
	display: inline;
}

.popup .checkedAdapt {
	width: 20px !important;
}

.filter-bar, .pagination-bar {
	*zoom: 1;
	background-color: white;
	border-radius: 3px;
	padding: 20px 30px;
	margin: 30px 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.filter-bar:after, .pagination-bar:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.filter-bar .filter, .pagination-bar .filter {
	float: left;
}

.filter-bar .filter select, .pagination-bar .filter select {
	margin: 0 5px;
	padding: 8px 50px 8px 8px;
	display: inline-block;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #e9e9e9 url(images/select.png) right center no-repeat;
}

.filter-bar .pagination, .pagination-bar .pagination {
	float: right;
}

.filter-bar .pagination a, .filter-bar .pagination span, .pagination-bar .pagination a,
	.pagination-bar .pagination span {
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 2;
	border-radius: 3px;
	display: inline-block;
	background-color: #e9e9e9;
	color: #898e90;
}

.filter-bar .pagination a.current, .filter-bar .pagination span.current,
	.pagination-bar .pagination a.current, .pagination-bar .pagination span.current
	{
	background-color: #45b77d;
	color: white;
}

.feature {
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	text-align: center;
	padding: 30px;
	margin-bottom: 30px;
}

.feature .feature-icon {
	font-size: 48px;
	font-size: 3.4285714286em;
	color: #45b77d;
	margin-bottom: 20px;
}

.feature .feature-title {
	color: #45b77d;
	font-size: 30px;
	font-size: 2.1428571429em;
	font-weight: 100;
}

/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox {
	cursor: pointer;
	position: fixed;
	z-index: 10000;
	-ms-touch-action: none;
	touch-action: none;
	/* 50 */
	box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
	/* 50 */
}

/* ACTIVITY INDICATION */
#imagelightbox-loading, #imagelightbox-loading div {
	border-radius: 50%;
}

#imagelightbox-loading {
	width: 2.5em;
	/* 40 */
	height: 2.5em;
	/* 40 */
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em;
	/* 10 */
	margin: -1.25em 0 0 -1.25em;
	/* 20 */
	/* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
	/* 40 */
}

#imagelightbox-loading div {
	width: 1.25em;
	/* 20 */
	height: 1.25em;
	/* 20 */
	background-color: #fff;
	-webkit-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}

@
-webkit-keyframes imagelightbox-loading {from { opacity:.5;
	-webkit-transform: scale(0.75);
}

50%
{
opacity








:




 




1;
-webkit-transform








:




 




scale








(1);
}
to {
	opacity: .5;
	-webkit-transform: scale(0.75);
}

}
@
keyframes imagelightbox-loading {from { opacity:.5;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}

50%
{
opacity








:




 




1;
-webkit-transform








:




 




scale








(1);
transform








:




 




scale








(1);
}
to {
	opacity: .5;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}

}
/* OVERLAY */
#imagelightbox-overlay {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* "CLOSE" BUTTON */
#imagelightbox-close {
	width: 2.5em;
	/* 40 */
	height: 2.5em;
	/* 40 */
	text-align: left;
	border: none;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em;
	/* 40 */
	right: 2.5em;
	/* 40 */
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

#imagelightbox-close:hover, #imagelightbox-close:focus {
	background-color: #111;
}

#imagelightbox-close:before, #imagelightbox-close:after {
	width: 2px;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 50%;
	margin-left: -1px;
}

#imagelightbox-close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#imagelightbox-close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* CAPTION */
#imagelightbox-caption {
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em;
	/* 10 */
}

/* NAVIGATION */
#imagelightbox-nav {
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em;
	/* 60 */
	padding: 0.313em;
	/* 5 */
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#imagelightbox-nav button {
	width: 1em;
	/* 20 */
	height: 1em;
	/* 20 */
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0.313em;
	/* 5 */
}

#imagelightbox-nav button.active {
	background-color: #fff;
}

/* ARROWS */
.imagelightbox-arrow {
	width: 3.75em;
	/* 60 */
	height: 7.5em;
	/* 120 */
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em;
	/* 60 */
	border: none;
}

.imagelightbox-arrow:hover, .imagelightbox-arrow:focus {
	background-color: #666;
	background-color: rgba(0, 0, 0, 0.75);
}

.imagelightbox-arrow:active {
	background-color: #111;
}

.imagelightbox-arrow-left {
	left: 2.5em;
	/* 40 */
}

.imagelightbox-arrow-right {
	right: 2.5em;
	/* 40 */
}

.imagelightbox-arrow:before {
	width: 0;
	height: 0;
	border: 1em solid transparent;
	content: '';
	display: inline-block;
	margin-bottom: -0.125em;
	/* 2 */
}

.imagelightbox-arrow-left:before {
	border-left: none;
	border-right-color: #fff;
	margin-left: -0.313em;
	/* 5 */
}

.imagelightbox-arrow-right:before {
	border-right: none;
	border-left-color: #fff;
	margin-right: -0.313em;
	/* 5 */
}

#imagelightbox-loading, #imagelightbox-overlay, #imagelightbox-close,
	#imagelightbox-caption, #imagelightbox-nav, .imagelightbox-arrow {
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}

@
-webkit-keyframes fade-in {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
keyframes fade-in {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@media only screen and (max-width: 41.25em) {
	#container {
		width: 100%;
	}
	#imagelightbox-close {
		top: 1.25em;
		/* 20 */
		right: 1.25em;
		/* 20 */
	}
	#imagelightbox-nav {
		bottom: 1.25em;
		/* 20 */
	}
	.imagelightbox-arrow {
		width: 2.5em;
		/* 40 */
		height: 3.75em;
		/* 60 */
		margin-top: -2.75em;
		/* 30 */
	}
	.imagelightbox-arrow-left {
		left: 1.25em;
		/* 20 */
	}
	.imagelightbox-arrow-right {
		right: 1.25em;
		/* 20 */
	}
}

@media only screen and (max-width: 20em) {
	.imagelightbox-arrow-left {
		left: 0;
	}
	.imagelightbox-arrow-right {
		right: 0;
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container-fluid:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	*zoom: 1;
}

.row:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}

.col-xs-1 {
	width: 8.3333333333%;
}

.col-xs-2 {
	width: 16.6666666667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.3333333333%;
}

.col-xs-5 {
	width: 41.6666666667%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58.3333333333%;
}

.col-xs-8 {
	width: 66.6666666667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.3333333333%;
}

.col-xs-11 {
	width: 91.6666666667%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.3333333333%;
}

.col-xs-pull-2 {
	right: 16.6666666667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.3333333333%;
}

.col-xs-pull-5 {
	right: 41.6666666667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.3333333333%;
}

.col-xs-pull-8 {
	right: 66.6666666667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.3333333333%;
}

.col-xs-pull-11 {
	right: 91.6666666667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.3333333333%;
}

.col-xs-push-2 {
	left: 16.6666666667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.3333333333%;
}

.col-xs-push-5 {
	left: 41.6666666667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.3333333333%;
}

.col-xs-push-8 {
	left: 66.6666666667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.3333333333%;
}

.col-xs-push-11 {
	left: 91.6666666667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
	margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
	margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
	margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
	margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

@media ( min-width : 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
		.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-1 {
		width: 8.3333333333%;
	}
	.col-sm-2 {
		width: 16.6666666667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.3333333333%;
	}
	.col-sm-5 {
		width: 41.6666666667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.3333333333%;
	}
	.col-sm-8 {
		width: 66.6666666667%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.3333333333%;
	}
	.col-sm-11 {
		width: 91.6666666667%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-pull-1 {
		right: 8.3333333333%;
	}
	.col-sm-pull-2 {
		right: 16.6666666667%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-4 {
		right: 33.3333333333%;
	}
	.col-sm-pull-5 {
		right: 41.6666666667%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-7 {
		right: 58.3333333333%;
	}
	.col-sm-pull-8 {
		right: 66.6666666667%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-10 {
		right: 83.3333333333%;
	}
	.col-sm-pull-11 {
		right: 91.6666666667%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-push-1 {
		left: 8.3333333333%;
	}
	.col-sm-push-2 {
		left: 16.6666666667%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-4 {
		left: 33.3333333333%;
	}
	.col-sm-push-5 {
		left: 41.6666666667%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-7 {
		left: 58.3333333333%;
	}
	.col-sm-push-8 {
		left: 66.6666666667%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-10 {
		left: 83.3333333333%;
	}
	.col-sm-push-11 {
		left: 91.6666666667%;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.col-sm-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-sm-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-sm-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-sm-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
		.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1 {
		width: 8.3333333333%;
	}
	.col-md-2 {
		width: 16.6666666667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3333333333%;
	}
	.col-md-5 {
		width: 41.6666666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.3333333333%;
	}
	.col-md-8 {
		width: 66.6666666667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.3333333333%;
	}
	.col-md-11 {
		width: 91.6666666667%;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-pull-1 {
		right: 8.3333333333%;
	}
	.col-md-pull-2 {
		right: 16.6666666667%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-4 {
		right: 33.3333333333%;
	}
	.col-md-pull-5 {
		right: 41.6666666667%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-7 {
		right: 58.3333333333%;
	}
	.col-md-pull-8 {
		right: 66.6666666667%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-10 {
		right: 83.3333333333%;
	}
	.col-md-pull-11 {
		right: 91.6666666667%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-push-1 {
		left: 8.3333333333%;
	}
	.col-md-push-2 {
		left: 16.6666666667%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-4 {
		left: 33.3333333333%;
	}
	.col-md-push-5 {
		left: 41.6666666667%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-7 {
		left: 58.3333333333%;
	}
	.col-md-push-8 {
		left: 66.6666666667%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-10 {
		left: 83.3333333333%;
	}
	.col-md-push-11 {
		left: 91.6666666667%;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
	.col-md-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-md-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-md-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-md-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-md-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
		.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-1 {
		width: 8.3333333333%;
	}
	.col-lg-2 {
		width: 16.6666666667%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.3333333333%;
	}
	.col-lg-5 {
		width: 41.6666666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.3333333333%;
	}
	.col-lg-8 {
		width: 66.6666666667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.3333333333%;
	}
	.col-lg-11 {
		width: 91.6666666667%;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		right: 8.3333333333%;
	}
	.col-lg-pull-2 {
		right: 16.6666666667%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-4 {
		right: 33.3333333333%;
	}
	.col-lg-pull-5 {
		right: 41.6666666667%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-7 {
		right: 58.3333333333%;
	}
	.col-lg-pull-8 {
		right: 66.6666666667%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-10 {
		right: 83.3333333333%;
	}
	.col-lg-pull-11 {
		right: 91.6666666667%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		left: 8.3333333333%;
	}
	.col-lg-push-2 {
		left: 16.6666666667%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-4 {
		left: 33.3333333333%;
	}
	.col-lg-push-5 {
		left: 41.6666666667%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-7 {
		left: 58.3333333333%;
	}
	.col-lg-push-8 {
		left: 66.6666666667%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-10 {
		left: 83.3333333333%;
	}
	.col-lg-push-11 {
		left: 91.6666666667%;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
	.col-lg-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-lg-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-lg-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-lg-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
}

@
-ms-viewport {
	width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block,
	.visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
	.visible-md-block, .visible-md-inline, .visible-md-inline-block,
	.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none !important;
}

@media ( max-width : 767px) {
	.visible-xs {
		display: block !important;
	}
	table.visible-xs {
		display: table;
	}
	tr.visible-xs {
		display: table-row !important;
	}
	th.visible-xs, td.visible-xs {
		display: table-cell !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-block {
		display: block !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-inline {
		display: inline !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}
	table.visible-sm {
		display: table;
	}
	tr.visible-sm {
		display: table-row !important;
	}
	th.visible-sm, td.visible-sm {
		display: table-cell !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-block {
		display: block !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-inline {
		display: inline !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}
	table.visible-md {
		display: table;
	}
	tr.visible-md {
		display: table-row !important;
	}
	th.visible-md, td.visible-md {
		display: table-cell !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-block {
		display: block !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-inline {
		display: inline !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg {
		display: block !important;
	}
	table.visible-lg {
		display: table;
	}
	tr.visible-lg {
		display: table-row !important;
	}
	th.visible-lg, td.visible-lg {
		display: table-cell !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-inline {
		display: inline !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-inline-block {
		display: inline-block !important;
	}
}

@media ( max-width : 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media ( min-width : 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: block !important;
	}
	table.visible-print {
		display: table;
	}
	tr.visible-print {
		display: table-row !important;
	}
	th.visible-print, td.visible-print {
		display: table-cell !important;
	}
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}
}

.visible-print-inline {
	display: none !important;
}

@media print {
	.visible-print-inline {
		display: inline !important;
	}
}

.visible-print-inline-block {
	display: none !important;
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}

@media print {
	.hidden-print {
		display: none !important;
	}
}
/*
 * Header Styles
 */
.site-header {
	background-color: #2b2b2b;
	position: relative;
}

.site-header>.container {
	*zoom: 1;
	position: relative;
	padding: 60px 15px 0;
}

.site-header>.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.site-header .cart {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding-right: 20px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-header .cart .icon-cart {
	color: #45b77d;
	font-size: 18px;
	font-size: 1.2857142857em;
	margin-right: 5px;
	vertical-align: baseline;
}

.site-header .cart:hover {
	color: #45b77d;
}

@media screen and (max-width: 480px) {
	.site-header .cart {
		border-right: none;
		padding-right: 0;
	}
}

#branding {
	float: left;
	margin-bottom: 60px;
}

#branding .logo, #branding .logo-text {
	display: inline-block;
	vertical-align: middle;
}

#branding .logo {
	margin-right: 10px;
}

#branding .site-title {
	font-size: 16px;
	font-size: 1.1428571429em;
	color: white;
	margin-bottom: 0;
}

#branding .site-title a {
	color: white;
}

#branding .site-description {
	font-size: 10px;
	font-size: 0.7142857143em;
}

.main-navigation {
	*zoom: 1;
	margin-top: 30px;
	margin-bottom: 10px;
	position: relative;
	z-index: 999;
	clear: both;
	width: 100%;
	background-color: white;
	border-radius: 3px;
}

.main-navigation:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.main-navigation .toggle-menu {
	float: left;
	border: none;
	padding: 30px 20px;
	background: transparent;
	outline: none;
}

@media screen and (max-width: 990px) {
	.main-navigation .toggle-menu {
		display: block;
	}
}

@media screen and (min-width: 991px) {
	.main-navigation .toggle-menu {
		display: none;
	}
}

.main-navigation>.menu {
	list-style: none;
	float: left;
	*zoom: 1;
}

.main-navigation>.menu:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

@media screen and (min-width: 991px) {
	.main-navigation>.menu {
		display: block;
	}
}

@media screen and (max-width: 991px) {
	.main-navigation>.menu {
		display: none;
	}
}

.main-navigation>.menu li {
	float: left;
}

.main-navigation>.menu li a {
	display: block;
	padding: 30px 15px;
	font-size: 16px;
	font-size: 1.1428571429em;
	color: #666a6c;
	border-bottom: 2px solid transparent;
	position: relative;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.main-navigation>.menu li a:after {
	content: "|";
	position: absolute;
	right: 0;
	color: #ddd;
	font-weight: 300;
}

.main-navigation>.menu li.home {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.main-navigation>.menu li.home a {
	padding: 30px 0;
	position: static;
}

.main-navigation>.menu li.home a:after {
	position: absolute;
	right: 0;
}

.main-navigation>.menu li.current-menu-item a, .main-navigation>.menu li:hover a
	{
	color: #45b77d;
	border-bottom: 2px solid #45b77d;
}

.mobile-navigation {
	position: absolute;
	top: 100%;
	background: white;
	width: 100%;
	left: 0;
	padding: 10px 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: none;
}

@media screen and (min-width: 991px) {
	.mobile-navigation {
		display: none !important;
	}
}

.mobile-navigation .menu {
	list-style: none;
}

.mobile-navigation .menu a {
	padding: 10px 20px;
	display: block;
}

.search-form {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
}

@media screen and (max-width: 480px) {
	.search-form {
		width: 200px;
	}
}

.search-form label {
	position: absolute;
	left: 0;
	color: #898e90;
	z-index: 1;
	top: 35px;
	left: 20px;
}

.search-form input {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	bottom: 0;
	outline: none;
	padding-left: 50px;
	background: #eeeeee;
	border: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.search-form input:hover, .search-form input:focus {
	background-color: white;
}

.search-form [type="text"] {
	width: 80%;
	height: 100%;
	right: 20%;
	
}

.right-section {
	color: white;
}

.right-section a {
	color: white;
	margin-left: 20px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

@media screen and (max-width: 640px) {
	.right-section a {
		display: block;
		text-align: right;
		margin-bottom: 5px;
	}
}

.right-section a small {
	color: #e9e9e9;
	font-style: italic;
}

.right-section a:hover {
	color: #45b77d;
}

.breadcrumbs {
	padding: 30px 0;
}

.breadcrumbs a:after {
	content: " ";
	width: 7px;
	height: 5px;
	background: url(images/arrow.png) no-repeat;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.home-slider {
	position: relative;
	margin-top: -40px;
	margin-bottom: 30px;
	background: #2b2b2b;
}

.home-slider .slides {
	*zoom: 1;
}

.home-slider .slides:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.home-slider .slides li {
	min-height: 575px;
	padding-top: 100px;
	padding-bottom: 50px;
	background-size: cover;
	background-position: center center;
}

.home-slider .flex-control-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	margin: auto;
	text-align: center;
	z-index: 9;
}

.home-slider .flex-control-nav li {
	display: inline-block;
	margin: 0 3px;
}

.home-slider .flex-control-nav li a {
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
}

.home-slider .flex-control-nav li a.flex-active {
	background-color: #45b77d;
}

.home-slider .slide-content {
	float: left;
	width: 40%;
}

@media screen and (max-width: 768px) {
	.home-slider .slide-content {
		width: 50%;
		padding-right: 20px;
	}
}

@media screen and (max-width: 480px) {
	.home-slider .slide-content {
		width: 100%;
		margin-bottom: 30px;
	}
}

.home-slider .slide-title {
	font-size: 65px;
	font-size: 4.6428571429em;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
}

.home-slider .slide-subtitle {
	font-size: 24px;
	font-size: 1.7142857143em;
	color: #45b77d;
	margin-bottom: 30px;
	display: block;
}

.home-slider p {
	margin-bottom: 30px;
}

.home-slider .slide-image {
	float: right;
	border: 5px solid white;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	.home-slider .slide-image {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.home-slider .slide-image {
		width: 100%;
	}
}

.product-list {
	margin: 0 -15px;
	*zoom: 1;
}

.product-list:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.product-list .product {
	width: 25%;
	padding: 0 15px;
	float: left;
	margin-bottom: 30px;
	height: 500px;
}

@media screen and (max-width: 990px) {
	.product-list .product {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.product-list .product {
		width: 100%;
	}
}

.product-list .product .inner-product {
	background: white;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	height: inherit;
}

.product-list .product .inner-product a.button {
	margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
	.product-list .product .inner-product>a.button {
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.product-list .product .inner-product>a.button {
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}
}

.product-list .product .figure-image {
	border: 4px solid #dedede;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
}

.product-list .product .figure-image img {
	max-width: 100%;
	width: 100%;
	display: block;
	height: auto;
}

.product-list .product .product-title {
	font-size: 18px;
	font-size: 1.2857142857em;
	color: #666a6c;
	margin: 0;
	text-align: left;
	font-weight: 400;
}

.product-list .product .product-title a {
	color: #666a6c;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.product-list .product .product-title a:hover {
	color: #45b77d;
}

.product-list .product .price {
	color: #45b77d;
	font-size: 16px;
	font-size: 1.1428571429em;
	text-align: left;
	margin-bottom: 20px;
	display: block;
}

.price>strike {
	color: red;
}

.product-list .product .button, .product-list .product form input[type="submit"],
	form .product-list .product input[type="submit"], .product-list .product form button,
	form .product-list .product button, .product-list .product form input[type="reset"],
	form .product-list .product input[type="reset"] {
	padding: 5px 10px;
}

section {
	padding: 40px 0;
}

section header {
	*zoom: 1;
}

section header:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

section header .section-title {
	font-size: 30px;
	font-size: 2.1428571429em;
	font-weight: 300;
	margin: 0 0 30px;
	float: left;
}

section header .all {
	float: right;
	color: #666a6c;
}

.page {
	padding: 50px 0;
}

.page .entry-title {
	font-size: 60px;
	font-size: 4.2857142857em;
	font-weight: 100;
	margin-bottom: 10px;
}

.page .price {
	font-size: 30px;
	font-size: 2.1428571429em;
	color: #45b77d;
	display: block;
	margin-bottom: 30px;
}

.page .product-images figure, .page .product-images>a {
	border: 3px solid white;
	border-radius: 3px;
	margin-bottom: 20px;
}

.page .product-images figure img, .page .product-images>a img {
	width: 100%;
	max-width: 100%;
	display: block;
	height: auto;
}

.page .product-images .thumbnails {
	*zoom: 1;
	text-align: center;
	margin: 0 -5px;
}

.page .product-images .thumbnails:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.page .product-images .thumbnails img {
	height: auto;
	max-width: 100%;
}

.page .product-images .thumbnails a {
	width: 33.333%;
	float: left;
	padding: 5px;
	border: none;
}

.page .product-images .thumbnails a img {
	border: 2px solid white;
	border-radius: 3px;
}

.page .addtocart-bar {
	margin-top: 50px;
	background: white;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	*zoom: 1;
}

.page .addtocart-bar:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.page .addtocart-bar form {
	float: left;
}

.page .addtocart-bar form select {
	padding: 10px 50px 10px 10px;
	margin-left: 10px;
	background: #e9e9e9 url(images/select.png) no-repeat right center;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.page .addtocart-bar .social-links {
	float: right;
}

.page ul, .page ol {
	border-left: 3px solid #45b77d;
	padding-left: 30px;
	margin-left: 30px;
	margin: 30px 0 30px 30px;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
	font-weight: 100;
}

table.cart {
	border-collapse: separate;
	border-spacing: 0 20px;
	width: 100%;
	margin: 0 0 30px;
	padding: 0;
}

table.cart td, table.cart th {
	background: white;
	padding: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

table.cart td:first-child, table.cart th:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table.cart td:last-child, table.cart th:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table.cart th.product-name {
	text-align: left;
}

table.cart .product-thumbnail {
	float: left;
	margin-right: 20px;
	border: 3px solid #e9e9e9;
	border-radius: 3px;
}

table.cart .product-thumbnail img {
	width: 200px;
	display: block;
}

table.cart .product-title {
	font-weight: 400;
}

table.cart .fa-times {
	color: #da7e7e;
}

@media screen and (max-width: 640px) {
	table.cart .product-thumbnail {
		display: inline-block;
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	table.cart .action {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	table.cart .product-qty {
		display: none;
	}
}

.cart-total, .cart-adress {
	background: white;
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cart-adress div {
	margin-bottom: 20px;
}

.cart-adress label, .cart-adress input, .cart-adress select {
	width: 20%;
	display: inline-block;
}

.cart-adress select {
	margin-left: -3px;
}

.cart-adress .xxl {
	width: 60%;
	display: inline-block;
}

.cart-total {
	width: 30%;
	float: right;
}

@media screen and (max-width: 480px) {
	.cart-total {
		width: 100%;
		float: none;
	}
}

.cart-total p {
	font-weight: 700;
}

.cart-total p strong {
	font-weight: 300;
}

.cart-total .total {
	font-size: 30px;
	font-size: 2.1428571429em;
}

.cart-total .total .num {
	color: #45b77d;
	font-weight: 700;
	margin-left: 20px;
}

.cart-total .button, .cart-total form input[type="submit"], form .cart-total input[type="submit"],
	.cart-total form button, form .cart-total button, .cart-total form input[type="reset"],
	form .cart-total input[type="reset"] {
	font-weight: 300;
}

/*
 * Footer Styles
 */
.site-footer {
	background-color: #2b2b2b;
	padding: 50px 0;
	font-size: 12px;
	font-size: 0.8571428571em;
}

.site-footer a {
	color: #898e90;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-footer a:hover {
	color: #45b77d;
}

.site-footer .widget {
	margin-bottom: 30px;
}

.site-footer .widget-title {
	color: white;
	font-size: 15px;
	font-size: 1.0714285714rem;
	font-weight: 400;
}

.site-footer .colophon {
	margin-top: 80px;
	*zoom: 1;
}

.site-footer .colophon:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.site-footer .colophon .copy {
	float: left;
	margin-top: 10px;
}

.site-footer .colophon .social-links {
	float: right;
}

.site-footer .newsletter-form input[type="text"] {
	padding: 10px 20px;
	color: white;
	width: 70%;
	border-width: 2px;
	margin-right: 10px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-footer .newsletter-form input[type="text"]:hover, .site-footer .newsletter-form input[type="text"]:focus
	{
	border-color: #45b77d;
}

.site-footer .newsletter-form input[type="submit"] {
	width: 20%;
	border: 2px solid #45b77d;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-footer .newsletter-form input[type="submit"]:hover, .site-footer .newsletter-form input[type="submit"]:focus
	{
	background-color: #69c697;
}

.site-footer .social-links a {
	line-height: 2;
}

.site-footer .social-links a:hover {
	background-color: white;
	color: #898e90;
}